/*
@usage
//EXAMPLE 1 - row / horizontal
<div class='flexbox row'>
	<div>Left</div>
	<div class='flex1'>Middle Flex</div>
	<div>Right</div>
</div>

//EXAMPLE 2 - vertical center div
<div class='flexbox center'>
	<div>My centered item!</div>
</div>

*/
/*
mixins (ones NOT included (directly) in LESSHat)
*/
/*** CONTAINER ***/
.flexbox {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*** CONTAINER DIRECTIONS ***/
  /*** CENTER ***/
  /*** CELLS ***/
}
.flexbox.row {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flexbox.row-reverse {
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.flexbox.column {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flexbox.column-reverse {
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.flexbox.center {
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  /*
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	*/
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  /*
	-webkit-box-pack: center;
	-moz-box-pack: center; 
	-ms-flex-pack: center; 
	-webkit-justify-content: center;
	justify-content: center;
	*/
  height: 100%;
  width: 100%;
}
.flexbox .order0 {
  -webkit-box-ordinal-group: 0;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0;
}
.flexbox .order1 {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}
.flexbox .order2 {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}
.flexbox .order3 {
  -webkit-box-ordinal-group: 3;
  -moz-box-ordinal-group: 3;
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
}
.flexbox .flex0 {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.flexbox .flex1 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.flexbox .flex2 {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2 2 auto;
  -ms-flex: 2 2 auto;
  flex: 2 2 auto;
}
.flexbox .flex3 {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -webkit-flex: 3 3 auto;
  -ms-flex: 3 3 auto;
  flex: 3 3 auto;
}
/* jrg-autocomplete */
.jrg-autocomplete {
  position: relative;
}
.jrg-autocomplete-input {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.jrg-autocomplete-dropdown {
  position: absolute;
  left: 0;
  right: 0;
  background-color: white;
  border: solid 1px #969696;
  padding: 5px;
}
.jrg-autocomplete-dropdown-val {
  cursor: pointer;
}
/* jrg-multiselect */
.jrg-multiselect {
  position: relative;
}
.jrg-multiselect-display-box {
  background-color: white;
  border: solid 1px #969696;
  cursor: text;
}
.jrg-multiselect-display-box > div {
  display: inline-block;
}
.jrg-multiselect-selected-opt {
  display: inline-block;
  border-radius: .25em;
  background-color: #c8c8c8;
  border: solid 1px #aaa;
  color: #333;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmNGY0ZjQiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjBmMGYwIiBzdG9wLW9wYWNpdHk9IjEiLz48c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2NkY2RjZCIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZGNkY2RjIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjbGVzc2hhdC1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
  background-image: -webkit-linear-gradient(-90deg, #f4f4f4 0%, #f0f0f0 50%, #cdcdcd 51%, #dcdcdc 100%);
  background-image: -moz-linear-gradient(-90deg, #f4f4f4 0%, #f0f0f0 50%, #cdcdcd 51%, #dcdcdc 100%);
  background-image: -o-linear-gradient(-90deg, #f4f4f4 0%, #f0f0f0 50%, #cdcdcd 51%, #dcdcdc 100%);
  background-image: linear-gradient(180deg, #f4f4f4 0%, #f0f0f0 50%, #cdcdcd 51%, #dcdcdc 100%);
  padding: 1px 5px;
  margin: 3px 3px;
}
.jrg-multiselect-selected-opt > div {
  display: inline-block;
}
.jrg-multiselect-selected-opt-remove {
  cursor: pointer;
  /*color:rgb(200,150,150);*/
  color: #323232;
  font-weight: bold;
  font-size: .8em;
}
.jrg-multiselect-input-div {
  max-width: 150px;
}
input.jrg-multiselect-input,
.jrg-multiselect-input {
  border: 0;
  box-shadow: none;
}
input:focus.jrg-multiselect-input {
  border: 0;
  box-shadow: none;
}
.jrg-multiselect-dropdown-cont {
  position: relative;
}
.jrg-multiselect-dropdown.hidden {
  display: none;
}
.jrg-multiselect-dropdown {
  position: absolute;
  z-index: 100;
  background-color: white;
  left: 0;
  right: 0;
  border: solid 1px #aaa;
  max-height: 200px;
  overflow: auto;
  padding: 5px;
}
.jrg-multiselect-dropdown-opt {
  cursor: pointer;
}
.jrg-multiselect-dropdown-opt.selected {
  display: none;
}
/* jrg-datetimepicker */
.jrg-datetimepicker-input {
  width: 100%;
}
/* jrg-forminput */
.jrg-forminput input,
.jrg-forminput select {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.jrg-forminput textarea {
  width: 100%;
  height: 100%;
  padding: 5px;
  /*margin: 5px 0;*/
  /*border: solid 1px black;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.jrg-forminput-cont {
  text-align: left;
}
.jrg-forminput-validation {
  padding-bottom: 9px;
}
.jrg-forminput-input {
  margin-top: 5px;
  margin-bottom: 5px;
}
/*
.jrg-forminput-input-container input {
	padding: 5px 10px;
	border:solid 1px black;
}
.jrg-forminput-multi-checkbox-item {
	display:inline-block;
	margin:0 5px;
}
.jrg-forminput-input-container-outer
{
	padding:5px 0;
}
.jrg-forminput-input-container-outer.static
{
	padding:0;
}
*/
input[type="checkbox"].jrg-forminput-input-checkbox {
  width: 20px;
}
/* get button to layout / act like div element instead */
.jrg-forminput-form button[type='submit'],
.jrg-forminput-submit {
  display: block;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  margin-left: auto;
  margin-right: auto;
  /*
	max-width:150px;
	margin-top:8px;
	*/
}
.jrg-forminput-submit {
  margin-top: 8px;
  max-width: 150px;
}
/* side by side label layout */
.jrg-forminput-form.wide .jrg-forminput,
.jrg-forminput-form.wider .jrg-forminput,
.jrg-forminput-form.widest .jrg-forminput {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
/*
.wide .jrg-forminput.styled-checkbox, .wider .jrg-forminput.styled-checkbox, .widest .jrg-forminput.styled-checkbox
{
	display:block;
}
*/
.jrg-forminput-form.wide label,
.jrg-forminput-form.wider label,
.jrg-forminput-form.widest label {
  margin-top: 9px;
  text-align: right;
  margin-right: 10px;
}
.jrg-forminput-form.wide label {
  width: 85px;
}
.jrg-forminput-form.wider label {
  width: 115px;
}
.jrg-forminput-form.widest label {
  width: 145px;
}
.jrg-forminput-form.wide .jrg-forminput-input,
.jrg-forminput-form.wider .jrg-forminput-input,
.jrg-forminput-form.widest .jrg-forminput-input {
  /*float:left;*/
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  /*
	UPDATE: can NOT have left or right margin with width:100%; since box-sizing does NOT apply to margin (just to border and padding)
	UPDATE2: actually it's still going outside the container on small widths BUT if use display:block; both these issues seem to be fixed.
	margin:2px (@input-extra-margin*1px);		//give some spacing to reduce chances of input overflowing (i.e. for border-radius rounded corners)
	margin:2px 0;		//give some spacing to reduce chances of input overflowing (i.e. for border-radius rounded corners) BUT ensure no left/right padding since that could lead to width:100%; inputs overflowing outside it's container!
	*/
  display: block;
}
.jrg-forminput-form.wide button[type='submit'],
.jrg-forminput-form.wide .jrg-forminput-submit,
.jrg-forminput-form.wide .jrg-forminput-validation {
  margin-left: 95px;
  /*max-width:100%;*/
}
.jrg-forminput-form.wider button[type='submit'],
.jrg-forminput-form.wider .jrg-forminput-submit,
.jrg-forminput-form.wider .jrg-forminput-validation {
  margin-left: 125px;
  /*max-width:100%;*/
}
.jrg-forminput-form.widest button[type='submit'],
.jrg-forminput-form.widest .jrg-forminput-submit,
.jrg-forminput-form.widest .jrg-forminput-validation {
  margin-left: 155px;
  /*max-width:100%;*/
}
.jrg-forminput-form.wide .jrg-forminput-validation,
.jrg-forminput-form.wider .jrg-forminput-validation,
.jrg-forminput-form.widest .jrg-forminput-validation {
  padding-top: 2px;
}
/* columns */
/*
.jrg-forminput-cols-50, .jrg-forminput-cols-25, .jrg-forminput-cols-75 {
	display:inline-block;
	vertical-align:top;
}
.jrg-forminput-cols-50 {
	width:47.5%;
	margin:0 1%;
}
.jrg-forminput-cols-25 {
	width:22.5%;
	margin:0 1%;
}
.jrg-forminput-cols-75 {
	width:72.5%;
	margin:0 1%;
}
.jrg-forminput-cols-50:first-child, .jrg-forminput-cols-50.first, .jrg-forminput-cols-25:first-child, .jrg-forminput-cols-25.first, .jrg-forminput-cols-75:first-child, .jrg-forminput-cols-75.first {
	margin-left:0%;
	margin-right:2%;
}
.jrg-forminput-cols-50:last-child, .jrg-forminput-cols-50.last, .jrg-forminput-cols-25:last-child, .jrg-forminput-cols-25.last, .jrg-forminput-cols-75:last-child, .jrg-forminput-cols-75.last {
	margin-left:2%;
	margin-right:0%;
}
*/
/* end: columns */
