<div ng-controller='HomeCtrl'>
	<h3>Responsive, consistently styled, fast to build form!</h3>
	Try resizing the width of your browser window!
	<br /><br />
	<div ng-if='formWideClass ==""'>Mobile / small version - default / no form class</div>
	<div ng-if='formWideClass =="wider"'>Regular / larger version - form class: <b>{{formWideClass}}</b></div>
	<br />
	
	<form class='jrg-forminput-form {{formWideClass}}' name='signupForm' ng-submit='submitForm()'>
		<div jrg-forminput placeholder='First Name' ng-model='formVals.first_name' opts='opts'></div>
		<div jrg-forminput type='text' placeholder='Last Name' hint='Hint: enter your last name!' ng-model='formVals.last_name' opts=''></div>
		<div jrg-forminput type='email' placeholder='Email' hint='Enter your email' ng-model='formVals.email' opts='' required></div>
		<div jrg-forminput type='password' placeholder='Password' ng-model='formVals.password' opts='' required ng-minlength='6'></div>
		
		<div jrg-forminput type='tel' placeholder='Phone Number' ng-model='formVals.phone' opts='optsPhone' ng-minlength='10' ng-pattern='/^[0-9]+$/'></div>
		<div jrg-forminput type='number' placeholder='Zip Code' ng-model='formVals.zip_code' opts='' min='10000' max='99999'></div>
		<div jrg-forminput type='url' placeholder='Website URL' ng-model='formVals.url' opts=''></div>
		
		<div jrg-forminput type='textarea' placeholder='Short Bio' ng-model='formVals.bio' opts=''></div>
		
		<div jrg-forminput type='select' placeholder='Gender' ng-model='formVals.gender' select-opts='selectOptsGender' opts=''></div>
		
		<div jrg-forminput type='checkbox' label='Terms' ng-model='formVals.terms' ng-true-value="'yes'" ng-false-value='"off"' opts=''></div>
		
		<br />Requires angular-autocomplete<br />
		<div jrg-forminput type='autocomplete' placeholder='Autocomplete' ng-model='formVals.autocomplete' vals-autocomplete='valsAutocomplete' opts='opts'></div>
		
		<br />Requires angular-multiselect<br />
		<div jrg-forminput type='multi-select' placeholder='Interests' ng-model='formVals.interests' select-opts='selectOptsInterests' opts=''></div>
		
		<br />Requires angular-datetimepicker<br />
		<div jrg-forminput type='datetime' placeholder='Date/Time' ng-model='formVals.datetime' opts=''></div>
		<div jrg-forminput type='date' placeholder='Date Only' ng-model='formVals.date' opts=''></div>
		
		<button class='btn btn-primary jrg-forminput-submit' type='submit' >Submit</button>
	</form>
	
	<br />
	form.$valid: {{signupForm.$valid}}
	form.$invalid: {{signupForm.$invalid}}
	<br />
	Values:
	<div ng-repeat='(key, val) in formVals'>{{key}}: {{val}}</div>
	
	
	<br /><br /><br />
	wide-icon Small Labels Width
	<form class='jrg-forminput-form wide-icon' name='wideIconForm' ng-submit='submitWideIconForm()'>
		<div jrg-forminput placeholder='Small Label Width' label='i' ng-model='formVals.small_label' opts=''></div>
	</form>
</div>